*~
*.egg-info
*.mo
*.pyc
.installed.cfg
bin/
develop-eggs/
downloads/
eggs/
include/
instance/
lib/
parts/
var/
# Docs
docs/Makefile
docs/make.bat
docs/doctrees
docs/_build
# Tox
.tox
# mxdev
constraints-mxdev.txt
requirements-mxdev.txt
